<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>RockHill</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
  <link href="../css/jqvmap.css" rel="stylesheet">
  <link href="../css/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <!-- Fullcalendar-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
  <!-- Materialize-->
  <link href="../css/admin-materialize.min.css" rel="stylesheet">
  <!-- Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 1063px;
            /* The width is the width of the web page */
            margin-top: 30px;
        }
    </style>
	</head>
	<body>
		{{{ body }}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<!-- External libraries -->

<!-- jqvmap -->
<script type="text/javascript" src="js/jqvmap/jquery.vmap.min.js"></script>
<script type="text/javascript" src="js/jqvmap/jquery.vmap.world.js" charset="utf-8"></script>
<script type="text/javascript" src="js/jqvmap/jquery.vmap.sampledata.js"></script>

<!-- ChartJS -->
<script type="text/javascript" src="js/Chart.js"></script>
<script type="text/javascript" src="js/Chart.Financial.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>


<!-- Initialization script -->
<script src="js/admin.js"></script>
    <script src="js/page-scripts/dashboard.js"></script>
    <script src="js/init.js"></script>
	</body>
</html>
