
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right">
        <li><a class="teal-text" href="/settings">Settings</a></li>
        <li><a class="teal-text" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-lighten-2 bannerfont">North Carolina Rock Climbing</h1>
        <div class="row center">
          <h5 class="header col s12 amber-text text-lighten-4">Find local NC climbing destinations near you</h5>
        </div>
        <div class="row center">
          <div class="input-field col s12 m4 offset-m4 amber-text">
            <a href="/search" class="waves-effect waves-light btn-small amber text-lighten-3">Search</a>
          </div>      
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../img/banner.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h4 class="header center amber-text">Favorited Routes</h4>
        <div id="fav-row" class="row">
          {{#each favorites}}
          {{> card/route-card}}
          {{/each}}
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="../img/shiprock.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
