<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <ul class="right">
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center amber-text text-lighten-2 bannerfont">RockHill</h1>
            <div class="row center">
                <h5 class="header col s12 amber-text text-lighten-4">Find rock-climbing locations near you</h5>
            </div>
            <div class="row center">
                <div class="input-field col s12 m4 offset-m4 amber-text">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="city-input" class="white-text">
                    <label for="city-input"></label>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="../img/banner.jpg" alt="Unsplashed background img 1"></div>
</div>

<!--The div element for the map -->
<div id="map" class="container" style="margin-bottom: 40px;"></div>
<div id="search-row" class="row">


            markers.push(marker);

            console.log(route.img)

            const infoWincontent = document.createElement("div");
            const line1 = document.createElement("p");
            const line2 = document.createElement("p");
            line1.textContent = route.name + ":  lat: " + route.lat + ", long: " + route.lng;
            line2.textContent = "difficulty: " + route.difficulty + ", rating: " + route.rating;

            infoWincontent.appendChild(line1);
            infoWincontent.appendChild(line2);
            


            marker.addListener("click", () => {
                infowin.open(map, marker);
                //infowin.appendChild(line3);
            });

          //search result query
          let imgURL;
          if(route.img === ''){
            imgURL = "https://via.placeholder.com/300.png/09f/fff"
          } else {
            imgURL = route.img;
          }
          const imgDiv = $('<div class="col s12 m3">').html(
            `<div class="card">
                <div class="card-image">
                    <img src=${imgURL} style="min-width: 225px; min-height: 225px max-width: 225px; max-height: 225px;" />
                    <span class="card-title">${route.name}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Name: ${route.name} </p>
                    <p>Difficulty: ${route.difficulty} </p>
                    <p>Rating: ${route.rating} </p>
                </div>
            </div>`
          )
          
        $('#search-results').append(imgDiv);

        });

    </script>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
    </div>
    <div class="parallax"><img src="../img/shiprock.jpg" alt="Unsplashed background img 2"></div>
</div>

