
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <ul class="right">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-lighten-2 bannerfont">RockHill</h1>
        <div class="row center">
          <h5 class="header col s12 amber-text text-lighten-4">Find rock-climbing locations near you</h5>
        </div>
        <div class="row center">
          <div class="input-field col s12 m4 offset-m4 amber-text">
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="city-input" class="white-text">
            <label for="city-input"></label>
          </div>      
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../img/banner.jpg" alt="Unsplashed background img 1"></div>
  </div>

        <!--The div element for the map -->
        <div id="map" class="container" style="margin-bottom: 40px;"></div>            

    
    {{!-- <script>
        // Initialize and add the map
        function initMap(place, routes) {
            const boone = { lat: 36.2168, lng: -81.6746 };
            const map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: boone });
            const marker = new google.maps.Marker({ position: boone, map: map });
            const infowin = new google.maps.InfoWindow;
            const infoWincontent = document.createElement("div");
            infoWincontent.textContent = `Boone, NC  lat: ${boone.lat}, long: ${boone.lng}`;
            marker.addListener("click", () => {
                infowin.setContent(infoWincontent);
                infowin.open(map, marker);
            });
        }

    </script> --}}
    <script>
        // Initialize and add the map
        function initMap(lat, lng, routes) {
        console.log(routes);
        const map = new google.maps.Map(document.getElementById("map"), {zoom: 10, center: {lat: lat, lng: lng}});
        console.log(map);
        const markers = [];
        const infoWindows = [];

        routes.forEach((route, index) => {
            const position = {lat: route.lat, lng: route.lng};
            console.log(route);
            console.log(position);
            const marker = new google.maps.Marker({position: position, map: map, label: index});
            markers.push(marker);

            const infoWincontent = document.createElement("div");
            const line1 = document.createElement("p");
            const line2 = document.createElement("p");
            line1.textContent = route.name + ":  lat: " + route.lat + ", long: " + route.lng;
            line2.textContent = "difficulty: " + route.difficulty + ", rating: " + route.rating;

            infoWincontent.appendChild(line1);
            infoWincontent.appendChild(line2);

            console.log(line1);
            console.log(line2);
            const infowin = new google.maps.InfoWindow({content: infoWincontent});
            console.log(markers);

            marker.addListener("click", () => {
                infowin.open(map, marker);
            });
        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa0VYRLVZSiVi2MxcaF-2iORHEBcV0dHM&callback=initMap">
    </script>

      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
        </div>
        <div class="parallax"><img src="../img/shiprock.jpg" alt="Unsplashed background img 2"></div>
     </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>

    <script>
        $('#city-input').on('keypress', function(e){
            //e.preventDefault();
            var place = e.target.value;
            var keycode = (e.keyCode ? event.keyCode : event.Which);
            if(keycode == '13') {
            $.get(`/api/routes/locate/${place}`)
                .then(data => {
                    initMap(data);
                })
            }
        })
    </script>